@import url(menu.css);
@import url(footer.css);

:root {
    --clr-dark: #173058;
    --clr-dark-light: #244780;
    --clr-main: #00B7D4;
    --clr-light: #96DCF0 ;
    --clr-white: #fff;
  }

/*main{
   text-align: center;
}

img{
    width: 80%;
    min-width: 9rem;
    max-width: 40rem;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
} */

/* SECCION PRINCIPAL */

#principal {
    margin: 0;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(../img/background-asesoramiento.jpg);
    background-position: center;
    background-size: cover;
}

#principal h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    border-radius: .4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    color: var(--clr-white);
    text-shadow: 0px 6px 20px rgba(0, 0, 0, 1);
}

#principal h3 {
    background-color: rgba(0, 0, 0, 0.5);
    margin: .4rem;
    padding: .5rem;
    border-radius: .4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--clr-white);
    text-shadow: 0px 6px 20px rgba(0, 0, 0, 1);
}

/* SECCION SERVICIOS */

#servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: .3rem;
}

.cajas {
    margin: .8rem;
    padding: 1rem;
    width: 32%;
    min-height: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
}

#primera {
    background-image: url(../img/asesoramiento-linea-cajas.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#segunda {
    background-image: url(../img/entrenamiento-distancia-cajas.JPG);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#tercera {
    background-image: url(../img/asesoria-cajas.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#primera:hover,
#segunda:hover,
#tercera:hover {
    color: var(--clr-white);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* SECCION CONTACTO */

#contacto {
    background-image: url(../img/suelos-madera-marron.jpg);
    background-position: center;
    background-size: cover;
    margin: 1.5rem 1rem;
    margin-left: 0;
    padding: 3rem;
    border-radius: 0rem 3rem 3rem 0;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contacto {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    align-content: center;
}

.contacto h2  {   
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0rem;
    padding: .5rem;
    border-radius: .4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    color: var(--clr-white);
    text-shadow: 0px 6px 20px rgba(0, 0, 0, 1);
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#boton {
    text-decoration: none;
    border: none;
}

.contacto a {
    background-color: var(--clr-dark);
    padding: .5rem 1.5rem .5rem .5rem ;
    margin: 0;
    border-radius: 0 2rem 2rem 0;
    color: var(--clr-white);
}

.contacto input {
    margin-right: 0;
    width: 25rem;
    max-width: 50%;
    padding: .5rem;
    border-radius: 2rem 0 0 2rem;
}


/* MEDIA QUERY */

@media screen and (max-width: 700px){

    #principal h1 {
        font-size: 1.4rem;
    }

    #principal h3 {
        font-size: 1rem;
    }

    #servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
    
    .cajas {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        width: 100%;
        min-height: 10rem;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
    }

    .contacto input {
        max-width: 30%;
    }

    .contacto h2 {
        font-size: 1.5rem;
    }
}