@import url(menu.css);
@import url(footer.css);


main
{
  text-align: center;
  font-style: bold;
  background-image: url(../img/fondo-contacto.jpg);
  background-size: cover;

  
}
main h1 {

    text-align: center;
    font-style: bold;
    background-color: white;
    color: black;
 }

 main h2
 {color: white}
  
 

  #formulario-contenedor{
    display: flex;
    flex-direction:row;
    opacity: 1;
    justify-content: flex-start;
    align-items: space-around;
    flex-wrap: wrap;
    margin: 0rem 3rem 3rem;
    width: 45rem;
    height: 20rem;
    padding: 3rem;
    padding-left: 1;
    padding-top: 3rem;
    color: white;
    text-align: left;
    }
    
  
    #datos{
        display: flex;
        flex-wrap: wrap;
        font-style: bold;
        color: white
    }
    
    
    .email{
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: white;
      text-align: left;
      }
     
    .consulta {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: white;
      text-align: left;
      
      }
      .consulta button {
        border: none;
        background-color: rgb(36, 36, 247);
        font-size: 0.8rem;
      }
     
      .servicios{
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: white;
      text-align: left;
      }
  form label {
    display: inline-block;
    vertical-align: top;
    width: 90px;
   
    color: white;
    text-align: left;
    
  }
  

  #exampleFormControlTextarea1{
    color: white;
    box-sizing: border-box;
    border: 1px solid #999;
    vertical-align: top;
    height: 1.5rem;
    width: 25rem;
    font-style: bold;
    
  }

  #exampleFormControlTextarea2{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #999;
    vertical-align: top;
    height: 15rem;
    width: 15rem;
  }
  
  

  #newsletter{
    color: white;
    margin: 5rem;
  }

  #whatsapp{
      margin: 5 rem;
      text-align: center;
      padding: .5rem;
      width: auto;
      height: auto;
      align-items: center;
  }
  #mapa{
    margin: 3rem;
    padding: .5rem;
    width: auto300;
    height: auto;
    align-items: center;
   
  }
 
 
