@import url(menu.css);
@import url(footer.css);


main{

    text-align: center;
    margin: auto;
    max-width: 60rem;
    background-color: #a5adb4;
    font-style: bold;
    
 }

  #form {
   
    margin: 3rem;
    width: 400px;
    padding: 3rem;
    }

    #datos{
        display: flex;
        flex-wrap: wrap;
        font-style: bold;
    }

   
    
    .mb-3
    {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

  form label {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    text-align: center;
    
  }
  

  #exampleFormControlTextarea1{
   
    box-sizing: border-box;
    border: 1px solid #999;
    vertical-align: top;
    height: 1.5rem;
    font-style: bold;
    
  }

  #exampleFormControlTextarea2{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #999;
    vertical-align: top;
    height: 1.5rem;
  }
  .button {
    padding-left: 90px; 
    size: 10rem;
    text-align: center;
    margin-left: 5rem;
  
  }

  #newsletter{
      margin: 1rem;
      padding: .5rem;
      width: auto;
      height: auto;
      align-items: center;
  }

  #whatsapp{
      margin: 1 rem;
      padding: .5rem;
      width: auto;
      height: auto;
      align-items: center;
  }
  #mapa{
    margin: 3rem;
    padding: .5rem;
    width: auto;
    height: auto;
    align-items: center;
  }
 
 
