footer {
    background-color: black;
    width: 100%;
   /* height:auto;*/
    position: absolute;
    left: 0;
}

footer p {
    color: white;
    text-align: center;
    padding: 1rem 2rem 1rem;
    font-size: 13px;    
    line-height: 1.8rem;
}

footer span {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: yellow;
    background-color: rgb(30, 27, 202);
    padding: 3px;
    border-radius: 20px;
}

#social{
    text-align: center;
    padding: 1rem;
}

#social i:hover{
    color:rgb(255, 25, 25);
    padding: 2px;
    box-shadow: 0px 4px 20px rgba(247, 0, 0, 0.5);
    border-radius: 1rem;    
}

.fa-brands{
    color: rgb(105, 105, 238);
    font-size: 1.5rem;
    margin: .5rem 1rem;
}

.span-author{
    font-size: 13px;
    font-weight: 300;
    color: rgb(243, 243, 86);
    background-color:rgb(24, 23, 23);
    padding: 5px;
}