footer {
    background-color: black;
    width: 100%;
    height:22rem;
    text-align: center;
  /*   position: absolute;
    left: 0;
    bottom: auto;     */
}

footer p {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 1rem;
    font-size: 12px;
    line-height: 1.6rem;
    max-width: 95%;
    margin: auto;
}

footer span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: yellow;
    background-color: rgb(30, 27, 202);
    padding: 4px;
    border-radius: 20px;
    white-space: nowrap;
}

#social{    
    padding: 1rem;
}

#social a{    
    font-size: 2rem;
    color: rgb(105, 105, 238); 
    font-size: 1.5rem;
    margin: .5rem 1rem;
}

#social a:hover{
    color:rgb(255, 25, 25);
    padding: 2px;
    box-shadow: 0px 4px 20px rgba(247, 0, 0, 0.5);
    border-radius: 1rem;    
}

.span-author{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: rgb(243, 243, 86);
    background-color:rgb(24, 23, 23);
    padding: 6px;
}

@media screen and (min-width: 360px){

    footer {       
        padding: 0 1rem;
    } 
    
    footer p {
        max-width: 90%;
        line-height: 1.8rem;
    }
    
    footer span {
        font-size: 15px;
        padding: 5px;
    }

    .span-author{
        font-size: 13px;
    }

}