@import url(menu.css);
@import url(footer.css);

main{
    text-align: center;
    width: auto;
    
    border-radius: 1rem;
    background-color:black;
    align-items: center;
    padding: 1rem;
 }
 
 img{
    width: 50rem;
    min-width: 5.5rem;
    max-width: 55rem;
    border-radius: 1rem;
    margin: 3rem;
    background-color: aliceblue;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-radius: 0 100px 0 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

    }
     
 body {
    background-color: rgb(163, 161, 161);
    padding: 2rem;
}

#lesiones
.contenedor-padre{
   box-sizing: border-box;
    align-items: center;
    align-content: space-between ;
    background-color: gray;
    color: black;
    padding: 1rem;
    }
.contenedor-padre, h1{
    font-size: 2rem;
    background-color: black;
    color: white;
}

.contenedor-padre, h2{
    font-size: 1.5rem;
}
.contenedor-padre, image{
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: auto;
    width: auto;
}


.title-prevencion{
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(136, 136, 136);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: .5rem;
  margin: .5rem;
  border-radius: 0 100px 0 30px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.contenedor-hijo1{
    
        animation: entrada 1s;
      }

      @keyframes entrada {
        from {
          opacity: 0;
          transform: translateX(-50%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    

.contenedor-hijo2 {
animation: entrada 1s;
}

@keyframes entrada {
  from {
    opacity: 0;
    transform: translateX(+50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#lesiones {
  border-radius: 0 100px 0 30px;
  height: auto;
  width: auto;
  margin: .5rem;
  padding: .5rem;  
  text-align: center; 
  box-sizing: border-box;
  background-color:white ;
  
}

#lesiones h1{
  border-radius: 0 100px 0 30px;
  margin: .5rem;
  padding: .5rem;  
  text-align: center;
  background-color: black; 
  
}

#lesiones summary h1{
display: flex;
font-family: 'Roboto Condensed', sans-serif;
background-color: rgb(136, 136, 136);
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
padding: auto;
margin: auto;
border-radius: 5px;
cursor: pointer;
text-align: center;
justify-content: center;

}
#lesiones summary h2{
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(136, 136, 136);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0 100px 0 30px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  }

#lesiones summary:hover {
color: white;
background-color: rgb(78, 76, 76);
}

#lesiones p {
text-align: justify;
padding: 1rem;
}
#lesiones2 {
  border-radius: 0 100px 0 30px;
  height: auto;
  width: auto;
  margin: 2rem;
  padding: 1.5rem;  
  text-align: center; 
  box-sizing: border-box;
  background-color:white ;
   
  
}

#lesiones2 h1{
  
  margin: .5rem;
  padding: .5rem;  
  text-align: center;
  background-color: gray; 
  border-radius: 0 100px 0 30px;
  
}


.detalle-lesiones2{
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(136, 136, 136);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0 100px 0 30px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  }
 

#lesiones2 summary:hover {
color: white;
background-color: rgb(78, 76, 76);
border-radius: 0 100px 0 30px;



}

#lesiones2 p {
text-align: justify;
padding: 1rem;
}

#nosotros {
    border-radius: 0 100px 0 30px;
    height: auto;
    width: auto;
    margin: 2rem;
    padding: 1.5rem;  
    text-align: center; 
    box-sizing: border-box;
    background-color:gray;
    
}

#nosotros h1{
    
    margin: .5rem;
    padding: .5rem;  
    text-align: center;
    background-color: gray; 
    
    
}
#nosotros,h2{
    font-size: 9;
    margin: 1.5rem;
    padding: .5rem;  
    text-align: left;
    
}

#nosotros summary {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(136, 136, 136);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: auto;
  margin: auto;
  border-radius: 0 100px 0 30px;
  cursor: pointer;
  text-align: left;
  justify-content: center;
}
span {
  background-color: blue;
  font-style: italic;
  color: white;
  padding: 0.2rem 0.6rem 0.1rem;
  border-radius: 1rem;
}

#nosotros summary:hover {
  color: white;
  background-color: rgb(78, 76, 76);
}

#nosotros p {
 
  padding: 1rem;

}

.contenedor-hijo2
{
 
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0 100px 0 30px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
#lesiones2 {
  border-radius: 0 100px 0 30px;
  height: auto;
  width: auto;
  margin: 2rem;
  padding: 1.5rem;  
  text-align: center; 
  box-sizing: border-box;
  background-color:gray ;

  
}

#lesiones2 h1{
  
  margin: .5rem;
  padding: .5rem;  
  text-align: center;
  background-color: black; 
  color: white;
  
  
}
#lesiones2,h2{
  font-size: 9;
  margin: 1.5rem;
  padding: .5rem;  
  text-align: center; 
  background-color: rgb(136, 136, 136);
}

#lesiones2 summary {
display: flex;
font-family: 'Roboto Condensed', sans-serif;
background-color: rgb(136, 136, 136);
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
padding: auto;
margin: auto;
border-radius: 0 100px 0 30px;
cursor: pointer;
text-align: left;
justify-content: center;
}


#lesiones2 summary:hover {
color: white;
background-color: rgb(78, 76, 76);
}

#lesiones2 p {
text-align: justify;
padding: 1rem;
background-color: gray;
}
#lesiones2 summary {
display: flex;
font-family: 'Roboto Condensed', sans-serif;
background-color: gray; ;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
padding: auto;
margin: auto;
border-radius: 0 100px 0 30px;
cursor: pointer;
text-align: left;
justify-content: center;
}

#contacto,
.contacto
.a{
  
  border-radius: 0 100px 0 30px;
  height: auto;
  width: auto;
  margin: 2rem;
  padding: 1.5rem;  
  text-align: center; 
  box-sizing: border-box;
  background-color: rgb(136, 136, 136);
 
}
#contacto,
.contacto h1
{
  margin: .5rem;
  padding: .5rem;  
  text-align: center;
  background-color: white; 
  
}

.contacto
a:hover {
  color: white;
  background-color: rgb(78, 76, 76);
  border-radius: 0 100px 0 30px;
  height: auto;
  width: auto;
 
  text-align: center; 
  box-sizing: border-box;
}



/* MEDIA QUERY */

@media screen and (min-width:700px) and (max-width:900px)
{
  #title {
    margin: auto;
    padding: 4rem 2rem;
 } }
    
 

@media screen and (max-width: 700px) {
 
  #title {
    margin: auto;
    padding: 3rem 1rem;
    font-size: 1.5rem;

}}