@import url(menu.css);
@import url(footer.css);

main{
    text-align: center;
    width: auto;
    
    border-radius: 1rem;
    background-color:black;
    align-items: center;
    padding: 1rem;
 }
 
 img{
    width: 50rem;
    min-width: 5.5rem;
    max-width: 55rem;
    border-radius: 1rem;
    margin: 3rem;
    background-color: aliceblue;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-radius: 0 100px 0 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

    }
     
 body {
    background-color: rgb(163, 161, 161);
    padding: 2rem;
}

#lesiones
.contenedor-padre{
   box-sizing: border-box;
   background-color: rgb(163, 161, 161) ;
    align-items: center;
    align-content: space-between ;
    background-color: gray;
    color: black;
    padding: 2rem;
    }
.contenedor-padre, h1{
    font-size: 2rem;
}

.contenedor-padre, h2{
    font-size: 1.5rem;
}
.contenedor-padre, image{
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: auto;
    width: auto;
}

.contenedor-hijo1 {
    border-radius: 0 100px 0 30px;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-align: center;
    height: auto;
    width: auto;
    margin: 2rem;
    padding: .5rem;  
    text-align: center; 
    background-color:rgb(158, 157, 157) ;
}
.contenedor-hijo1{
    
        animation: entrada 1s;
      }

      @keyframes entrada {
        from {
          opacity: 0;
          transform: translateX(-50%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

.contenedor-hijo2 {
    border-radius: 0 100px 0 30px;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-align: center;
    height: auto;
    width: auto;
    margin: 2rem;
    padding: .5rem;  
    text-align: center;
    background-color:rgb(158, 157, 157) ;
   
}

.contenedor-hijo2 {
animation: entrada 1s;
}

@keyframes entrada {
  from {
    opacity: 0;
    transform: translateX(+50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#lesiones article {
    border-radius: 15px;
    padding: 1rem;
}

#nosotros {
    border-radius: 0 100px 0 30px;
    height: auto;
    width: auto;
    margin: 2rem;
    padding: 1.5rem;  
    text-align: center; 
    box-sizing: border-box;
    background-color:white ;
    
}

#nosotros h1{
    
    margin: .5rem;
    padding: .5rem;  
    text-align: center;
    background-color: gray; 
    
}
#nosotros,h2{
    font-size: 9;
    margin: 1.5rem;
    padding: .5rem;  
    text-align: center; 
}
#contacto {
    text-align: center;
  }
  
  #contacto {
    text-transform: uppercase;
  }
  
  #contacto:hover {
    background-color: white;
    color: white;
  }

/* MEDIA QUERY */

@media screen and (min-width:700px) and (max-width:900px)
{
  #title {
    margin: auto;
    padding: 4rem 2rem;
 } }
    
 

@media screen and (max-width: 700px) {
 
  #title {
    margin: auto;
    padding: 3rem 1rem;
    font-size: 1.5rem;

    #img {
        width: 3 rem;
        min-width: 3.5rem;
        max-width: 15rem;
  }}}
 