@import url(menu.css);
@import url(footer.css);

main{
    text-align: center;
 }
 
 img{
  width: 80%;
     min-width: 9rem;
     max-width: 40rem;
     border-radius: 1rem;
     margin: 1rem;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
 }
     
 body {
    background-color: rgb(163, 161, 161);
}

#lesiones
.contenedor-padre{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between ;
    background-color: black;
    color: white;
  
    }


.contenedor-padre, image{
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: auto;
    width: auto;
}

.contenedor-hijo1 {
    font-size: 1.5rem;
    text-align: center;
    height: auto;
    width: auto;
    margin: 2rem;
    padding: .5rem;  
    text-align: center; 
}

.contenedor-hijo2 {
font-size: 1.5rem;
 text-align: center;
 height: auto;
   width: auto;
    margin: 2rem;
    padding: .5rem;  
    text-align: center; 
}

#lesiones article {
    border-radius: 15px;
    padding: 1rem;
}

#nosotros {
text-align: center;
   height: auto;
   width: auto;
    margin: 2rem;
    padding: 1.5rem;  
    text-align: center; 
}

#nosotros,h1{
    font-size: 16;
    margin: .5rem;
    padding: .5rem;  
    text-align: center; 
}
#nosotros,h2{
    font-size: 9;
    margin: 1.5rem;
    padding: .5rem;  
    text-align: center; 
}


