@import url(menu.css);
@import url(footer.css);


#main, h1
{color: black;
    margin-top: 3rem;
    padding-top: 3rem;
    
}
.main-contenedor-padre{
display:inline-block;
 grid-template-columns: 1fr 1fr;
    
 }
 h1{
background-color:rgb(153, 152, 152);
font-size: 1rem;
 }
 
 h2{
    color: black;
    margin: 2rem;
    padding: 2rem;
    background-color: rgb(159, 193, 204);
    font-size: 1.5rem;
 }
 img{
  width: auto;
     min-width: 9rem;
     max-width: 40rem;
     border-radius: 1rem;
     margin: 1rem;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
     background-color: aliceblue;
     align-items: center;
 }
     



.main-contenedor-padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between ;
    background-color: black;
    color: black;
    }


    .contenedor-hijo-gps1, image{
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: auto;
     min-width: 9rem;
     max-width: 40rem;
     margin: 1rem;
     background-color: aliceblue;
     align-items: center;
     
     
 }
   
.contenedor-hijo-gps2, image{
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: auto;
     min-width: 9rem;
     max-width: 40rem;
     margin: 1rem;
     background-color: aliceblue;
     align-items: center;
 }

.contenedor-hijo-gps1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
    padding: .5rem;  
    display: flex;
    align-items: flex-start;
}


.contenedor-hijo-gps2 {
font-size: 1.5rem;
 text-align: center;
margin: 2rem;
 padding: .5rem;  
 display: flex;
    align-items: flex-end;
}

#nuestros-equipos
.contenedor-hijo-equipos {
font-size: 1.5rem;
 text-align: center;
margin: 2rem;
 padding: .5rem;  
 display: flex;
    align-items: flex-end;
}
#gps, #gps2 article {
    border-radius: 15px;
    padding: 1rem;
}

#nosotros {
text-align: center;
   height: auto;
   width: auto;
    margin: 2rem;
    padding: 1.5rem;  
    text-align: center; 
}

#nosotros,h1{
    font-size: 16;
    margin: .5rem;
    padding: .5rem;  
    text-align: center; 
}
#nosotros,h2{
    font-size: 9;
    margin: 1.5rem;
    padding: .5rem;  
    text-align: center; 
}

#contacto h1{
    background-color: var(--clr-main);
    color: var(--clr-dark)
    }
#contacto h1:hover 
  { background-color: var(--clr-light);
    color: var(--clr-dark)
  }

