@import url(menu.css);
@import url(footer.css);


#main, h1
{color: black;
    margin-top: 3rem;
    padding-top: 3rem;
    
}
.main-contenedor-padre{
display:inline-block;
 grid-template-columns: 1fr 1fr;
    
 }
 #title
 {color: black;
    margin-top: 4rem;
    padding: 2.5rem;
    background-color: black ;
 }

 h1{
background-color:rgb(153, 152, 152);
font-size: 1rem;
text-align: center;
margin: 2rem;
padding: 2rem;
color: black;
 }
 
 h2{
    color: black;
    margin: 2rem;
    padding: 2rem;
    background-color: rgb(159, 193, 204);
    font-size: 1.5rem;
    text-align: center;
}

 img{

     width: auto;
     min-width: 4.5rem;
     max-width: 20rem;
     border-radius: 1rem;
     margin: 1rem;
     background-color: aliceblue;
     align-items: center;
     
 }
     



.main-contenedor-padre{
    
    align-items: center;
    align-content: space-around ;
    justify-content: space-between;
    background-image: url(../img/);
    color: black;
    }


    .contenedor-hijo-gps1, image{
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: auto;
     min-width: 9rem;
     max-width: 40rem;
     margin: 1rem;
     align-items: center;
 }
    .contenedor-hijo-equipos, image{
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: auto;
     min-width: 9rem;
     max-width: 40rem;
     margin: 1rem;
     align-items: center;
     
     }
    

    .contenedor-hijo-gps1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
    padding: .5rem;  
    display: grid;
    align-items: flex-start;
}


    .contenedor-hijo-equipos {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
    padding: .5rem;  
    display: grid;
    align-items: flex-start;
}

#nuestros-equipos
    .contenedor-hijo-equipos {
    display: flex;
    align-items:center;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
    padding: .5rem;  
  
}

.contenedor-hijo2-variables{
    box-sizing: border-box;
    align-items: center;
}
  

#gps
.contenedor-padre2-variables
{
    text-align: center;
    height: auto;
    width: auto;
    margin: 2rem;
    padding: 1.5rem;     
    background-color: black;
    color: white; 
}
.contenedor-hijo2-variables
{ 
    text-align: center;
    height: auto;
    width: auto;
     margin: 2rem;
     padding: 1.5rem;  
     text-align: center;
     color: white; 
      
}
#nosotros,h1{
    font-size: 16;
    margin: .5rem;
    padding: .5rem;  
    text-align: center; 
}
#nosotros,git h2{
    font-size: 9;
    margin: 1.5rem;
    padding: .5rem;  
    text-align: center; 
}

#contacto{
    background-color: var(--clr-main);
    color: var(--clr-dark)
    }
    .h1{
        text-align: center; 
        font-style: bold;
    }
#contacto:hover
  { background-color: var(--clr-light);
    color: var(--clr-dark)
  }

/* MEDIA QUERY */

@media screen and (min-width:700px) and (max-width:900px) {

  #titulo {
    margin: 0rem 25% 0 1rem;
    padding: 4rem 2rem;
  }

  #opciones {
    grid-template-columns: 2rem 40% 2rem 40%;
    grid-template-rows: auto auto auto auto;
    
  }

  #contenedor-nieto {
    padding: 1rem 1rem 1rem .5rem;
  }

  #mapa iframe{
    max-width: 90%;
  } 
}

@media screen and (max-width: 700px) {
 
  #titulo {
    margin: auto;
    padding: 3rem 1rem;
    font-size: 1.5rem;
  }

  #contenedor-hijo {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  #contenedor-nieto {
    padding: 1rem .5rem;
    font-size: .7rem;
    width: 100%;
  
  }

  #formulario-text {
    font-size: 1rem;

  } 

  #formularios {
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
  }

}