@import url(menu.css);
@import url(footer.css);

:root {
    --clr-dark: #173058;
    --clr-dark-light: #244780;
    --clr-main: #00B7D4;
    --clr-light: #96DCF0 ;
    --clr-white: #fff;
  }
  

#main
{   box-sizing: border-box;
    text-align: justify;
    color: black;
    font-size: 13;
    margin: auto;
    background-color: black;
    padding: 1.5rem;
    }
    
 #title {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  font-style: uppercase;
    }
     
.h2{
   font-size: 4rem;
   background-color: rgb(158, 157, 157) ;
   

}
h3, h1{
  text-align: center;
  margin: 1rem;
  padding: .5rem;
  color: black;
  font-style: bold;
  background-color:rgb(158, 157, 157) ;
  border-radius: 30px 0 0 30px;
  opacity: .8;
}

#main
.contenedor-principal {
    margin: .5 rem;
    padding: .5rem;
    box-sizing: border-box;
    color: black;
    border-bottom: 5px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-image: url(../img/pliometria.jpg);
    font-family: bold;
    width: 60rem;
    height: 60rem;
    
  }
  
  .contenedor-principal h3{
    text-transform: uppercase;
    padding: 2rem;
    animation: myAnimation 1s;
    position: relative;
    animation: myAnimation 1s;
    animation-fill-mode: forwards;
    animation-delay: .2s;
  }
  
  @keyframes myAnimation {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
  }
    

   
  .contenedor-principal p{
    font-size: 1.5rem;
    color: #fff;

  }
  
  .contenedor-principal a:visited{
    color:#173058;   
    border: none;
    font-size: 0.8rem;
    padding: .3rem .9rem;
    margin: 0.4rem;
    border-radius: 10px;
 
  }
  .contenedor-principal button {
    border: none;
    background-color: rgb(36, 36, 247);
    font-size: 0.8rem;
    padding: .3rem .9rem;
    margin: 0.4rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

  .contenedor-principal button:hover {
  color: yellow;
  font-size: 1rem;
  padding: .4rem .9rem;
  background-color: #fff;
}


.contenedor-padre {
  border-radius: 30px 0 0 30px;
  background-color: rgb(158, 157, 157);
  opacity: .8;
  animation: myAnimation 1s;
  position: relative;
  animation: myAnimation 1s;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

@keyframes myAnimation {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
  #primera-fila,
  #tercera-fila {
   
    margin: .5;
    padding: .5rem;

  }
  .article-container{
    color: black;
  }
  
  #segunda-fila, 
  #cuarta-fila {

    margin: .5;
    padding: .5rem;
  }

  .primera-fila,
  .tercera-fila {
    background-color: var(--clr-main);
    
    
  }
  
  .primera-fila:hover,
  .tercera-fila:hover {
    background-color: var(--clr-light);
  }
  
  .segunda-fila,
  .cuarta-fila {
    background-color: var(--clr-dark);
    color: var(--clr-light);
  
  }
  
  .segunda-fila:hover ,
  .cuarta-fila:hover {
    background-color: var(--clr-dark-light);
  }
  


 img{
     width: 60%;
     min-width: 9rem;
     max-width: 40rem;
     border-radius: 1rem;
     margin: 1rem;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
     background-color: gray;
    
  }

  #contacto h2{
    background-color: var(--clr-main);
    color: var(--clr-dark);
    text-align: center;
    }

  #contacto h2:hover 
  { background-color: var(--clr-light);
    color: var(--clr-dark)
  
  }
    