@import url(menu.css);
@import url(footer.css);

:root {
    --clr-dark: #173058;
    --clr-dark-light: #244780;
    --clr-main: #00B7D4;
    --clr-light: #96DCF0 ;
    --clr-white: #fff;
  }
  

#main
{   box-sizing: border-box;
    text-align: justify;
    color: black;
    font-size: 13;
    margin: 1rem;
    background-color: black;
    padding: .5rem;
    }
    
 #title 
 {
  color: white;
  font-size: 1rem;
  padding: .5rem;
  text-align: center;
  font-style: uppercase;
    }
     
.h2{
   
   background-color: rgb(158, 157, 157) ;
  
}
#title,h3, h1{
  text-align: center;
  margin: .5rem;
  padding: .5rem;
  color: black;
  font-style: bold;
  background-color:rgb(158, 157, 157) ;
  border-radius: 30px 0 0 30px;
  
 
}

#main
.contenedor-principal {
    margin: .5 rem;
    padding: .5rem;
    box-sizing: border-box;
    border-bottom: 5px solid black;
    background-position: center;
    text-align: center;
    font-family: bold;
    color: black;
  }
  
  .contenedor-principal h3{
    text-transform: uppercase;
    padding: .5rem;
    
    animation: myAnimation 1s;
    position: relative;
    animation: myAnimation 1s;
    animation-fill-mode: forwards;
    animation-delay: .2s;
  }
  
  @keyframes myAnimation {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
  }
    

   
  .contenedor-principal p{
    color: black;
    background-color: rgb(136, 136, 136);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: .5rem;
    margin: .5rem;
    border-radius: 0 100px 0 30px;
    cursor: pointer;
    text-align: center;
    justify-content: center;

  }
  
 


.contenedor-padre {
  border-radius: 30px 0 0 30px;
  background-color: black;
  opacity: .8;
  animation: myAnimation 1s;
  position: relative;
  animation: myAnimation 1s;
  animation-fill-mode: forwards;
  animation-delay: .2s;
  color: white;
}

@keyframes myAnimation {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
 
  
  .article-container{
    color: black;
  }
  
  

  .primera-fila,
  .tercera-fila 
  .segunda-fila,
  .cuarta-fila {
    background-color: black;
    color: white;
    margin: .5;
    padding: .5rem;
    
  }
  
    
   
  

 img{
     width: 60%;
     min-width: 9rem;
     max-width: 40rem;
     border-radius: 1rem;
     margin: 1rem;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
     background-color: gray;
    
  }
  #contacto
  .contacto
  .a{
    
   
    height: auto;
    width: auto;
    margin: 2rem;
    padding: 1.5rem;  
    text-align: center; 
    box-sizing: border-box;
    background-color: rgb(136, 136, 136);
   
  }
  #contacto,
  .contacto h1
  {
    margin: .5rem;
    padding: .5rem;  
    text-align: center;
    background-color: white; 
   
    
  }
    