@import url(menu.css);
@import url(footer.css);

:root {
    --clr-dark: #173058;
    --clr-dark-light: #244780;
    --clr-main: #00B7D4;
    --clr-light: #96DCF0 ;
    --clr-white: #fff;
  }
  

main
{ text-align: justify;
    color: black;
    font-size: 13;
    margin: auto;
     
}
h2{
  color: black;
  font-size: 26;

}
h3, h1{
  text-align: center;
  margin: auto;
  padding: 1.5rem;
  color: black;

}


.contenedor-principal {
    padding: 3rem;
    background-image: url(../img/pliometria.jpg);
    border-bottom: 5px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    
  }
  
  .contenedor-principal h3{
    text-transform: uppercase;
    padding: 2rem;
  }
   
  .contenedor-principal p{
    font-size: 16;
    color: #fff;
  }
  
  .contenedor-principal a:visited{
    color:#173058;   
    border: none;
    font-size: 0.8rem;
    padding: .3rem .9rem;
    margin: 0.4rem;
    border-radius: 10px;
 
  }
  .contenedor-principal button {
    border: none;
    background-color: rgb(36, 36, 247);
    font-size: 0.8rem;
    padding: .3rem .9rem;
    margin: 0.4rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

  .contenedor-principal button:hover {
  color: yellow;
  font-size: 1rem;
  padding: .4rem .9rem;
  background-color: #fff;
}



  #primera-fila,
  #tercera-fila {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    margin: auto;
    padding: .5rem;

    
  }
  
  #segunda-fila, 
  #cuarta-fila {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    padding: .5rem;
  }
  
  .primera-fila,
  .tercera-fila {
    background-color: var(--clr-main);
    color: var(--clr-dark);
  }
  
  .primera-fila:hover,
  .tercera-fila:hover {
    background-color: var(--clr-light);
  }
  
  .segunda-fila,
  .cuarta-fila {
    background-color: var(--clr-dark);
    color: var(--clr-light);
  
  }
  
  .segunda-fila:hover ,
  .cuarta-fila:hover {
    background-color: var(--clr-dark-light);
  }
  


 img{
     width: 60%;
     min-width: 9rem;
     max-width: 40rem;
     border-radius: 1rem;
     margin: 1rem;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
     background-color: gray;
    
  }

  #contacto h1{
    background-color: var(--clr-main);
    color: var(--clr-dark)
    }
  #contacto h1:hover 
  { background-color: var(--clr-light);
    color: var(--clr-dark)
    
  }
    