@import url(menu.css);
@import url(footer.css);

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}
h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: #a5adb4;    
}

#intro{ 
    color:black;
    background-color: gainsboro;
    border: 4px solid black;
    margin: 1%;
    padding: 2%;
}

main{
    margin: auto;
    max-width: 80%;
}

.Utilidades{
    border: 2px solid black;
    margin: auto;
    margin: 2px 30% 10px ;
    padding: 
}

.ServiciosRecuperacion{
    background-color: grey;
    border: 4px solid black; 
    text-align: center;
}
