@import url(menu.css);
@import url(footer.css);

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}

main{
    margin: auto;
    max-width: 80%;
    background-color: gray;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    min-width: 80%;
}

h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
}
h2{
    font-weight: 600;
}
h1{
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

body{
    background-color: #a5adb4;    
}

#intro{ 
    color:black;
    background-color: gainsboro;
    border:2px solid black;
    border-radius: 0 0 15px 15px;
    margin: 0 1% 1%;
    padding: 2%;
}

.Utilidades{
    border: 2px solid black;
    border-radius: 8px 0 0 8px;
    margin: auto;
    margin: 2px 30% 10px ;
    max-width: 40%;
    position: relative;
    right: 30%;
}

.ServiciosRecuperacion{
    background-color: grey; 
    text-align: center;
    padding-top: 2rem;
}

#id_presoterapia{
    border-radius: 15px 15px 0 0;
}
p{
    padding:  10px 2rem;
}
